<h1>Available Themes</h1>
<div id="themeswitcher">
  <div id="side_panel">
    <div id="current_preview">
      <div id="preview">
        
        <img src="/images/site_assets/theme-previews/loading-preview.png">
        <span>Loading Preview...</span>
      </div>
    </div>

  </div>
  <div id="main_panel">
    <div id="default clearfix">
      <h4>Default Themes</h4>
      <p>Default themes provided by Talemetry.  Editing should lead to duplication into a custom theme.</p>

      <%= render 'themes/default-thumbs' %>

    </div> <!-- End Default Themes Container -->

    <div class="clearfix"></div> <!-- Clearfix - Don't put anything in here -->

    <div id="custom clearfix"> 
      <h4>Custom Themes</h4>
      <p>One does not simply receive custom themes</p>

      <%= render 'themes/custom-thumbs' %>

    </div> <!-- End Custom Themes Container -->
  </div>
</div>

<script>

 (function($){ 
    
    $(document).ready(function(){

      //initialize

      var theme_current = 23
      var themes = new Array();

      var description;
      var version;

      //Set current preview image and text
      $("#preview").find("img").attr("src","/images/site_assets/theme-previews/"+theme_current+".png")
      $("#preview span").text(theme_current);

      var index = 0;


      //Event handlers for theme changes
      var idClicked;
      var waiting = false;

      $(".add").bind('click',function() {
        window.location = "themes/new" 
      });

      $(".trash_theme").bind('click',function() {              //NOT WORKING
        if(confirm("Are you sure you want to remove this theme?")){


         idClicked = $(this).attr("id_rel")

            
               $.ajax({
                  type: ('POST'),
                  url:  ('themes/trash/'),
                  data: {
                     id: idClicked
                  },
                  success: function(data) {

                     $('.theme_thumb[thm="'+idClicked+'"]').hide(100);
                     $('.theme_thumb[thm="'+idClicked+'"]').delay(100).remove();
                     
                  },
                  error: function(error) {
                     alert("Theme could not be Removed! Reason: "+error)
                  }
               });

        } else {
          //do nothing
        }
      });



      $(".duplicate_theme").bind('click',function() {
         idClicked = $(this).attr("id_rel")

         alert(idClicked)

         $.ajax({
          type: ('POST'),
          url:  ('themes/clone'),
          data: {
            id: idClicked
          },
          success: function(data) {

            location.reload()

          },
          error: function(error) {
            alert("Theme could not be Duplicated! Reason: "+error)
          }
         });        //WORKING


      });

      $(".edit_theme").bind('click',function() {
        idClicked = $(this).attr("id_rel");
        window.location = "themes/"+idClicked+"/edit"
      });

      $(".settheme").bind('click',function() {

        if(!$(this).hasClass("selected") && !waiting) {
          //reset other items

          $(".theme_thumb a").removeClass("disabled");
          $(".theme_thumb").removeClass("selected");
          $(".theme_thumb a").text("Set Theme");

          //prevent additional clicks until success
          waiting = true;

          //get thm="x" to index themes array
          idClicked = $(this).attr('thm')
          
          //do this to make it look pretty and like the new theme is being loaded
          //TODO: Put this into the AJAX call
          $(this).find(".loader").addClass('load');
          $(this).find("a").addClass("disabled");
          $(this).find("a").text("Setting...");
          $(this).addClass("selected");

          //perform action: change_theme via AJAX          
          //old link ***link_to "Set Theme", "update_theme/#{theme["title"]}", :method => :post **

          var loader = $(this).find(".loader");
          var button = $(this).find("a");
          var thumb  = $(this);

          $.ajax({
            type: ('POST'),
            url:  ('update_theme/'+themes[idClicked]),
            success: function(data){
              loader.removeClass('load');
              button.text("Active");
              $("#preview").queue(function() {
                $(this).find("span").fadeOut(100);
                $(this).find("img").fadeOut(100);
                $(this).dequeue();
              }).queue(function() {
                $(this).find("span").delay(200).text(themes[idClicked]) //TODO: HUMANIZE THIS
                $(this).find("img").delay(200).attr("src","/images/site_assets/theme-previews/"+themes[idClicked]+".png")
                $(this).dequeue();
              }).queue(function() {
                $(this).find("span").delay(500).slideDown('fast');
                $(this).find("img").delay(400).fadeIn('200')
                $(this).dequeue();
              })
              
              waiting = false
            },
            error: function() {
              alert("Theme could not be changed to "+themes[idClicked])
            }

          });
 

          //on fail
          //send alert "AJAX Fail" for now 

        }
      })


    })
    
  })(jQuery);
</script>